# Variables and Data

In [1]:
print("Yasiru")

Yasiru

In [2]:
name = input("Enter your name :- ")
print("Hello ", name)

Hello  yasito

In [3]:
name = input("Enter your name :- ")
age = int(input("Enter your age :- "))
print("Hiii " ,name, " you will be ",age + 1 ," next year !")

Hiii  hgfcdxs  you will be  56  next year !

In [4]:
a = 7
b=3
print("Add:", a + b)            # 10
print("Subtract:", a - b)       # 4
print("Multiply:", a * b)       # 21
print("Divide:", a / b)         # 2.3333
print("Floor Divide:", a // b)  # 2
print("Modulus:", a % b)        # 1
print("Power:", a ** b)         # 343 (7 x 7 x 7)

Add: 10
Subtract: 4
Multiply: 21
Divide: 2.3333333333333335
Floor Divide: 2
Modulus: 1
Power: 343

# Control Structure

## Decision making

In [5]:
score = int(input("Enter your score: "))

if score >= 90:
    print("Grade: A")
elif score >= 75:
    print("Grade: B")
elif score >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Grade: F

In [6]:
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

In [7]:
count = 0
while count < 3:
    print("Count is", count)
    count += 1

Count is 0
Count is 1
Count is 2

## Logical Operators

In [8]:
age = 25
is_student = True

if age > 18 and is_student:
    print("Eligible for student discount")

Eligible for student discount

In [9]:
# Example using 'not' operator
is_raining = False

if not is_raining:
    print("It's not raining")

It's not raining

In [10]:
# Example using 'or' operator
temperature = 25
is_hot = temperature > 30
is_sunny = True

if is_hot or is_sunny:
    print("It's either hot or sunny (or both)")

It's either hot or sunny (or both)

# For Loop

In [11]:
names = ["yasiru", "nadeesha", "amal"]
for name in names:
  print(name)

yasiru
nadeesha
amal

In [12]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [13]:
for i in range(3):
  for j in range(2):
    print(j)

0
1
0
1
0
1

# While Loop

In [14]:
count = 5
while count > 0:
    print("Countdown:", count)
    count -= 1
print("Go!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Go!

# Loop Control(break , continue)

In [15]:
nums = [1, 3, 5, 6, 7, 9]
for num in nums:
    if num % 2 == 0:
        print("Found even:", num)
        break

Found even: 6

In [16]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4