<a href="https://colab.research.google.com/github/yasirunadeeshaa/Python-Tutorial/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data

In [ ]:
print("Yasiru")

Yasiru

In [ ]:
name = input("Enter your name :- ")
print("Hello ", name)

Enter your name :- yasiru
Hello  yasiru

In [ ]:
name = input("Enter your name :- ")
age = int(input("Enter your age :- "))
print("Hiii " ,name, " you will be ",age + 1 ," next year !")

Enter your name :- yasiru
Enter your age :- 22
Hiii  yasiru  you will be  23  next year !

In [ ]:
a = 7
b=3
print("Add:", a + b)            # 10
print("Subtract:", a - b)       # 4
print("Multiply:", a * b)       # 21
print("Divide:", a / b)         # 2.3333
print("Floor Divide:", a // b)  # 2
print("Modulus:", a % b)        # 1
print("Power:", a ** b)         # 343 (7 x 7 x 7)

Add :-  10
Divide :-  2.3333333333333335
Floor Divide :-  2
Modulo :-  1
Power :-  21
Power by power :-  343

# Control Structure

## Decision making

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    print("Grade: A")
elif score >= 75:
    print("Grade: B")
elif score >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Enter your score: 20
Grade: F

In [ ]:
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

In [ ]:
count = 0
while count < 3:
    print("Count is", count)
    count += 1

## Logical Operators

In [ ]:
age = 25
is_student = True

if age > 18 and is_student:
    print("Eligible for student discount")

Eligible for student discount

In [ ]:
# Example using 'not' operator
is_raining = False

if not is_raining:
    print("It's not raining")

In [ ]:
# Example using 'or' operator
temperature = 25
is_hot = temperature > 30
is_sunny = True

if is_hot or is_sunny:
    print("It's either hot or sunny (or both)")

It's either hot or sunny (or both)

# For Loop

In [ ]:
names = ["yasiru", "nadeesha", "amal"]
for name in names:
  print(name)

yasiru
nadeesha
amal

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(3):
  for j in range(2):
    print(j)

0
1
0
1
0
1

# While Loop

In [ ]:
count = 5
while count > 0:
    print("Countdown:", count)
    count -= 1
print("Go!")

# Loop Control(break , continue)

In [ ]:
nums = [1, 3, 5, 6, 7, 9]
for num in nums:
    if num % 2 == 0:
        print("Found even:", num)
        break

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

# Task

## Even or Odd Checker

In [ ]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

## Print Multiplication Table

In [ ]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

## Login System

In [ ]:
password = "yasiru123"
maxAttempts = 3

while maxAttempts>0:
  enterPassword = input("Enter password :- ")
  if enterPassword == password:
    print("Access granted ...")
    break
  else:
    maxAttempts -= 1
    print("Wrong password. Attempts left : ",maxAttempts)
else:
  print("access denied !!!!!!!")

Enter password :- sdfvsv5s
Wrong password. Attempts left :  2
Enter password :- yasiru123
Access granted ...

In [ ]:
email = "yasiru@gmail.com"
password = "yasiru123"
loginAttempts = 3

while loginAttempts > 0:
  Eemail = input("Enter email ;- ")
  Epassword = input("Enter password :- ")

  if email == Eemail:
    if password == Epassword :
      print("Access granted .....")
      break
    else:
      loginAttempts -= 1
      print("Wrong password. Attempts left : ",loginAttempts)
  else:
    loginAttempts -= 1
    print("Wrong email. Attempts left : ",loginAttempts)
else:
  print("Access denied !!!!!!!")

Enter email ;- yasiru@gmail.com
Enter password :- yasiru123
Access granted .....

# Data Structure

### List

In [3]:
fruits = ["apple", "banana", "cherry"]
fruits.append("mango")
print(fruits)
print(fruits[0:2])

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana']

### Dictionary

In [ ]:
person = {"name": "Yasiru", "age": 23}
print(person["name"])

### Tuple

In [ ]:
dimensions = (200, 400)
print("Width:", dimensions[0])

### Set

In [ ]:
unique_nums = {1, 2, 2, 3}
print(unique_nums)  # Outputs: {1, 2, 3}

### List Comprehensive

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

# Functions and Modules

In [ ]:
def greet(name):
    return f"Hi {name}!"

print(greet("Yasiru"))

# File Handling & Exceptions

In [ ]:
# Writing to a file
with open("test.txt", "w") as f:
    f.write("Hello, this is Yasiru.\n")

# Reading from a file
try:
    with open("test.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

# Exception handling
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except ValueError:
    print("That's not a number!")
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("This runs no matter what.")

Hello, this is Yasiru.

Enter a number: 0
Cannot divide by zero!
This runs no matter what.

# math Module in Python

In [ ]:
import math
math.radians(90)  # → 1.570796

math.degrees(math.pi)  # → 180.0

print(math.log(2.718))     # ≈ 1
print(math.log10(1000))    # 3
print(math.exp(2))         # ≈ 7.389

# Square root
print("√25 =", math.sqrt(25))

# Power
print("2^4 =", math.pow(2, 4))

# Trigonometry
angle_deg = 90
angle_rad = math.radians(angle_deg)
print("sin(90°) =", math.sin(angle_rad))

# Logarithm
print("log10(1000) =", math.log10(1000))

# Constants
print("PI =", math.pi)
print("e =", math.e)

0.999896315728952
3.0
7.38905609893065
√25 = 5.0
2^4 = 16.0
sin(90°) = 1.0
log10(1000) = 3.0
PI = 3.141592653589793
e = 2.718281828459045